.DS_Store
/fastlane/report.xml
/fastlane/test_output
Sources/Carthage
Sources/iOSSampleApp.xcodeproj/project.xcworkspace/xcuserdata/igorkulman.xcuserdatad/UserInterfaceState.xcuserstate
Sources/iOSSampleApp.xcodeproj/xcuserdata/
Sources/iOSSampleApp.xcodeproj/project.xcworkspace/xcshareddata/
