github "ReactiveX/RxSwift" ~> 5.0
github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"
github "AliSoftware/Reusable"
github "kean/RxNuke"
github "kean/Nuke"
github "nmdias/FeedKit"
github "cruffenach/CRToast"
github "RxSwiftCommunity/RxSwiftExt"